.mg{
  margin-top: 2%;  
}
.banner img{
    
    border-top: solid #c0c0c0 3px;
}
.footer{
    background-color: #c0c0c0;
    height: 10%;
    
}
 p{
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
/*-- fomulario --*/

.input-prepend{
    margin-top: 2%;
}
.add-on{
    background: #c0c0c0;
    padding: 0.5%;
    margin: 0px;
    border-radius: 2px ;
     
}
.form{
    
    margin-left: 5%;
    width: 45%;
    margin-top: 2%;
}

